.i{
    display: flex;
    height: 100vh;
    background-color: aliceblue;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.i-left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}

.i-title{
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: lightseagreen; 
    display: flex;
    align-items: center;
}

.i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
  }
  
  .i-img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
  }

.i-bg{
    clip-path: circle(50% at 50% 50%);
    background-color:white;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 10;
    right: 10;
    /* justify-content: center;
    align-items: center; */
}

@media screen and (max-width: 480px) {
    .arrows{
        display: none;
    }

    .a1{
        display: none;
    }

    .a2{
        display: none;
    }

    .a3{
        display: none;
    }

    .i {
      flex-direction: column;
      padding: 5px;
      width: 225%;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      width: 100%;
    }
    .i-title-item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
    }
    .i-description{
        padding: 15px;
    }
    .i-right{
        padding: 10px;
    }
  }

  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

