.tech-list{
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

.tech-text{
    width: 65%;
}

.pl-title{
    font-size: 50px;
    font-weight: 600;
}

.pl-desc{
    margin: 20px 0px;
}

.pl-list{
    display: flex;
    flex-wrap: wrap;  
   justify-content: space-between;
    width: 100%; 
} 

@media screen and (max-width: 480px) {
    /* .pl {
      padding: 10px;
    } */
  
    .tech-text {
      width: 100%;
    }
  
    .pl-desc {
      display: none;
    }
    .tech-list {
        width: 60%;
        height: 60%;
        height: 150vh;
        background-color: white;
      }
      .p-browser{
          height: 45px;
      }
  }